/*MAIN*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.5px;
    word-spacing: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
}

a {
    color: rgb(92, 92, 95);
    text-decoration: none;
}


/* NAVBAR */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: hsl(0, 12%, 95%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px; 
    box-shadow: none;
    z-index: 1000;
    margin: 0; 
}

nav .left a {
    color: black;
    font-size: 22px;
    font-weight: 600;
}

nav .right a {
    color:  black;
    margin: 0 10px;
}

nav .right a:last-child {
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
}
@media (max-width: 850px) {
    .cover .text h2 {
        font-size: 35px;
    }
}

@media (max-width: 740px) {
        .cover  {
            flex-direction: column-reverse;
        }

}

@media (max-width: 600px) {
    nav {
        padding: 0 20px;
        top: 10px;
    }

    nav .right a {
        font-size: 22px;
    }

    nav .right a:last-child {
        color: black;
        background-color: transparent;
        padding: 0;
    }

    nav .right a span {
        display: none;
    }
    nav .links {
        flex-direction: column;
    }
    .cover .text, .cover .me {
        flex-direction: column;
    }
}
.cover {
    padding: 20px;
    }

.cover .text h2 {
    font-size: 30px;
    }

/* COVER SECTION */
.cover {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    margin: 160px 0;  
    margin-top: auto;
    gap: 40px;
}

.cover .text {
    flex: 5;
    text-align: left;
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: justify;
}

.cover .text h2 {
    font-size: 45px;
    margin-bottom: 15px; 
    word-wrap: break-word;
    font-size: calc(1.5rem + 1vw);
}


.cover .text .links {
    margin-top: 20px;
}

.cover .text .links a {
    display: inline-block;
    padding: 10px 20px; 
    border: 2px solid rgb(92, 92, 95);
    border-radius: 5px;
    margin-right: 15px; 
    margin-bottom: 10px;
}

.cover .me {
    flex: 2;
    display: flex;
    justify-content: flex-end ;
}

.cover img {
    border-radius: 50%;
    width: 250px;
}

.img {
    max-width: 100%;
    height: auto;
}

/*ABOUT*/ 

.about-section {
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
}

.header-title-wrapper {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;

}

.title {
    font-size: 2em;
    color: #555;
    margin-bottom: 30px;
}
.about-image {
    width: 350px;
    height: auto;
    object-fit: cover;
    border-radius:10px;
    margin-right: 20px;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.text-content_1 {
    font-size: 1em;
    line-height: 1.5;
    color: #666;
    text-align: left;
    text-align: justify;
    flex: 1; 
    min-width: 250px; 
}

@media (max-width: 768px) {
    .header-title-wrapper {
        font-size: 2rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .content {
        flex-direction: column; 
        text-align: center; 
    }

    .about-image {
        width: 80%; 
        max-width: 300px;
        margin: 0 auto 20px auto; 
    }

    .text-content_1 {
        font-size: 0.9rem;
        padding: 0 20px; 
    }
}

@media (max-width: 480px) {
    .header-title-wrapper {
        font-size: 1.8rem;
    }

    .title {
        font-size: 1.3rem;
    }

    .about-image {
        width: 100%; 
        max-width: 280px;
        margin: 0 auto;
    }

    .text-content_1 {
        font-size: 0.85rem;
    }
}

/*SKILLS*/

.skills_header {
    text-align: center;
    margin-top: 20px;
    padding-top: 70px;
    font-size: 2.5em;
}


.text-content_2  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 20px auto; 
    max-width: 80%;
}

.skills-content {
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
    color: #333;
}

.skills-content {
    text-align: left;
    margin-bottom: 20px;
}

.skills-title {
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    margin-bottom: 10px; 
}

.container {
    flex: 1; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text-box-skills {
    text-align: center;
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    width: 200px; 
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
}

.center-container .text-box {
    text-align: center;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 8px;
    width: 200px; 
}

/*OTHER SKILLS*/

.other-skills-title {
    text-align: center; 
    margin-bottom: 20px;
    font-size: 25px;
    color: #333;
}

.other-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.text-box {
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    text-align: justify;
    border: 0.125rem solid #333; 
    width: 25rem;
    box-sizing: border-box;
    margin: 10px;
}

@media (max-width: 768px) {
    .text-box {
        max-width: 90%;
        padding: 2rem 1rem;
    }
}

@media (max-width: 480px) {
    .text-box {
        max-width: 100%;
        padding: 1.5rem;
    }
}
.text-box:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}


/*PROJECT*/

.project-section {
    padding: 60px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.section-header {
    font-size: 2.5rem;
    color: #000000;
    margin-bottom: 40px;
}

.projects-container {
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    max-width: 300px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill), minmax(280px, 1fr);
    gap: 20px;   
}

.research-project, .crochet{
    position: relative;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    display: block;
}

.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@media(max-width: 768px) {
    .projects-container {
        grid-template-columns: 1fr;
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    .project-containers {
        grid-template-columns: 1fr;
        padding: 0 10px;
    }
}

.redirect-effect {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3 ease;
}

.redirect-effect :hover {
    transform: scale(1.05);
}

.redirect-effect :active {
    transform: scale(0.95);
    opacity: 0.6;
}

.redirect-effect :visited {
    animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.95);
    }
}

/*RESEARCH PAGE*/

body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header {
    background-color: none;
    padding: 20px 0px;
    text-align: center;
}

header nav a {
    color: rgb(9, 9, 9);
    text-decoration: none;
    padding: 10px;
    margin: 0 15px;
}

.research {
padding: 40px 20px;
background-color: #f4f4f4;
}

.research-title {
    text-align: center;
    margin-top: 10px;
}

a:hover .research-project{
    transition: transform 0.3s ease;
    transform: scale(1.05);
}

.research-section {
    font-size: 1rem;
    color: #333;
    max-width: 1100px;
    margin-bottom: 40px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


.vibrator-image {
    width: 500px; 
    height: auto;
    object-fit: cover;
    display: block;  
    margin: 45px auto;
    
}

.text-content-research {
    font-size: 1rem;
    text-align: left;
    margin-left: 10px;
    margin-top: 40px 10px 0 10px;
    max-width: 1000px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-features {
    margin-top: 30px;
    margin-bottom: 25px;
}

.sdg-align {
    margin-top: 40px;
}

.credits {
    margin-top: 40px;
    text-align: center;
}

.product-features h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.sdg-align h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.credits h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.text-content-research p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6; 
    margin-bottom: 10px; 
    max-width: 1000px;
    text-align: justify;
}

.research-section {
    font-size: inherit;
    line-height: inherit;
}

.product-features p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.sdg-align p {
    font-size: 1.1rem;
    color: #555;
    line-height: 2;
    margin-bottom: 20px;
}

.credits p {
    font-size: 1.1rem;
    color: #555;
    margin: 5px 0;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
        padding: 0 10px;
    }
    .research-title {
        font-size: 2rem;
        padding: 0 10px;
    }
    .text-content-research {
        font-size: 0.9rem;
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    .content {
        grid-template-columns: 1fr;
        padding: 0 10px;
    }
    .research-title {
        font-size: 1.5rem;
        padding: 0 10px;
    }
    .text-content-research {
        font-size: 0.85rem;
        padding: 0 10px;
    }
}

/*CROCHET*/

main {
    padding: 20px;
    height: 100%;
    margin: 0;
   
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.crochet-project {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px
}

.business-name {
    font-size: 40px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.crochet-image {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 500px;
}

.crochet-content {
    text-align: center;
}

.crochet-about {
    margin-top: 30px;
}

.crochet-products {
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba (0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
    padding: 20px;
    width: 250px;
}

.crochet-products img {
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

.crochet-products h4 {
    font-size: 20px;
    margin-top: 10px;
    color: #333;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover .crochet-image {
    transition: transform 0.3s ease;
    transform: scale(1.05);
}

.experience {
    text-align: center;
    text-align: justify;
    margin: 50px;
}

.footer-content {
    text-align: center;
}

/*SDG*/

.sdg-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sdg-container {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
}

.sdg-icon .large-icon {
    font-size: 150px;
    color: #333;
    margin-top: 25px;
}

.sdg-title h2 {
    font-size: 2rem;
    color: #555;
    margin: 0;
    text-align: left;
}

.sdg-content {
    text-align: justify;
    margin: 30px;
    margin-top: 5px;
}

/*CHALLENGES*/

.sdg-challenges, .job-insecurity, .wage-inequality, .access-to-finance, .digital-divide {
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-sizing: border-box;
}

.sdg-challenges h3 {
    text-align: center;
    margin-bottom: 5px;
}

.job-insecurity h4, .wage-inequality h4, .access-to-finance h4, .digital-divide h4 {
    font-size: 1em;
    margin-bottom: 10px;
}

.sdg-challenges, .job-insecurity, .wage-inequality, .access-to-finance, .digital-divide {
    width: 100%;
}

.job-insecurity p, .wage-inequality p, .access-to-finance p, .digital-divide p {
    text-align: justify;
}

.image-source {
    font-size: 0.7em;
    color: #777;
    margin-top: 5px;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 600px;
    border-radius: 5px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .sdg-challenges, .job-insecurity, .wage-inequality, .access-to-finance, .digital-divide {
        width: 100%;
        padding: 10px;
    }
    .job-insecurity p, .wage-inequality p, .access-to-finance p, .digital-divide p {
        font-size: 1em;
        line-height: 1.6;
    }
    img {
        max-width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }
    
}

@media (max-width: 460px) {
    .sdg-challenges h3, .job-insecurity h4, .wage-inequality h4, .access-to-finance h4, .digital-divide h4 {
        font-size: 1.1em;
}
    .job-insecurity p, .wage-inequality p, .access-to-finance p, .digital-divide p {
        font-size: 0.9em;
    }
}

.solution {
    margin-top: 10px;
    margin:10px;
    text-align: justify;
}

.innovation, .msme, .wages, .informal-sectors{
    margin-top: 10px;
    text-align: justify;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.innovation h4, .msme h4, .wages h4, .informal-sectors h4 {
    font-size: 1.7rem;
    color: #333;
}

/*JOIN*/

.join-section {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.join-section h4 {
    font-size: 1.5rem;
    color: #333;
}

.resources ul {
    list-style: none;
    padding: 0;
}

.resources li {
    margin: 10px 0;
}

.resources a {
    color: #5e5f60;
    text-decoration: none;
}

.resources a:hover {
    text-decoration: underline;
}

/*CONTACTS*/
.contacts {
    background: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.contacts h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

.contacts p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.contacts-link {
    font-size: 18px;
    color: #5b5b5c;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 10px; 
    margin-top: 10px;
}

.contacts-link:hover {
    color: #5b5b5c; 
}

.contacts-link i {
    font-size: 20px;
}

/*FOOTER*/
.footer-bottom {
    text-align: center;
}

